@{
    ViewData["Title"] = "Incusão";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Cadastro para novos leitores</p>

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="css/estilo.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Hey up! London</title>
</head>

<body>
    <header></header>
    <main>
        <div class="header" id="header">
        </div>
        
        <br>
        <div class="quadroprincipal">
            <div class="formulario">
                <form action="#" method="POST">
                    <fieldset>
                        <legend>Informações Pessoais</legend>
                        <label for="nome">Nome: </label>
                        <input type="text" id="nome" placeholder="Entre com seu nome." class="form-control">
                        <label for="data">Data de Nasc.: </label>
                        <input type="date" id="dataAtual">
                        <label for="sexo">Sexo: </label>
                        <select id="genero">
                            <option value="N">Genero</option>
                            <option value="F">Feminino</option>
                            <option value="M">Masculino</option>
                            <option value="O">Não Declarar</option>
                        </select>
                        <label for="data">Data de Cadastro: </label>
                        <input type="date" id="dataAtual">
                        <br>
                        <label for="escol">Escolaridade: </label>
                        <input type="text" id="escol"  class="form-control">
                        <label for="natur">Naturalidade: </label>
                        <input type="text" id="natur"  class="form-control">
                        <label for="pai">Nome do Pai: </label>
                        <input type="text" id="pai"  class="form-control">
                        <label for="mae">Nome do Mãe: </label>
                        <input type="text" id="mae"  class="form-control">
                        <label for="idade">Idade: </label>
                        <input type="number" id="idade"  class="form-control">
                        <label for="cpf">CPF: </label>
                        <input type="text" id="cpf"  class="form-control">
                        <label for="mail">E-Mail: </label>
                        <input type="email" id="mail" placeholder="Entre com seu e-mail" class="form-control">
                        <label for="sexo">Genero: </label>
                        <select id="sexo">
                            <option value="N">Genero</option>
                            <option value="F">Feminino</option>
                            <option value="M">Masculino</option>
                            <option value="O">Não Declarar</option>
                        </select>
                        <br>
                        
                </form>
            </div>

        </div>





    </main>
    <footer>
        <script src="js/action.js" type="text/javascript"></script>
    </footer>
</body>

</html>

<!-- 
<div class="container">
  <div class="row">
    <div class="col">
      1 de 2
    </div>
    <div class="col">
      2 de 2
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 de 3
    </div>
    <div class="col">
      2 de 3
    </div>
    <div class="col">
      3 de 3
    </div>
  </div>
</div>
-->



